html
  head
    title Home
    script(src='js/three.min.js')
    script(src='js/TrackballControls.js')
    script(src='socket.io/socket.io.js')
    link(rel='stylesheet', href='css/main.css')
  body
    script(src='js/multiplayer.js')
    script(src='js/trial.js')
