html
  head
    title Home
    script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js')
    script(src='https://threejs.org/examples/js/controls/TrackballControls.js')
    link(rel='stylesheet', href='css/main.css')
  body
    script(src='js/trial.js')
